@import './task.css';
@import './task-cell.css';
@import './calendar-day.css';
@import './timezone-cell.css';
@import './hour-cell.css';
@import './current-time.css';

.calendar, .calendar-day {
  color: var(--gray20);
  padding-inline-start: 1.5rem;
  padding-inline-end: 1.5rem;
  --min-block-size: 4rem;
  --max-block-size: auto;

  --min-inline-size: 5rem;
  --max-inline-size: 1fr;
  position: relative;
}

.calendar-week {
  display: grid;
  grid-template-columns: auto repeat(
      7,
      minmax(var(--min-inline-size), var(--max-inline-size))
    );
  grid-template-rows: 7rem repeat(
      25,
      minmax(var(--min-block-size), var(--max-block-size))
    );
  min-block-size: 700px;
}

.calendar-day {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 7rem repeat(
      24,
      minmax(var(--min-block-size), var(--max-block-size))
    );
  min-block-size: 700px;
}
